@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {

    --color1: #FF0082;
    --color2: #f52aa7;
    --color3: #ffffff;
    --color4: #ff3da8;
    --color5: #ff1c68;

    --text1: #000000;
    --text2: #fff;
    --text3: #ffb6c1;
}

/* ------------------------------- SEÇAO 1 ------------------------- */



